<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Escolha a opção para definir usuários</h1>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Parâmetro" autocomplete="username" required>
                </div>
              
              
                <button type="button" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
