<div class="animated fadeIn">
  
    <div class="card">
      <div class="card-body">
        <div class="card-body p-4">
          <form>
            <h1>Escolha a opção para definir usuários</h1>

         
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Filtro" autocomplete="username" required>
            </div>
         
           
            <button type="button" class="btn btn-block btn-success">Pesquisar</button>
          </form>
        </div>
       
      
     
    
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Informações de Usuários
          </div>
          <div class="card-body">
  
            <table class="table table-responsive-sm table-hover table-outline mb-0" >
              <thead class="thead-light">
                <tr>
                  
                  <th>Usuário</th>
                  <th>Reputação</th>
                  
                  <th class>Score</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  